.main__autoreply__container {
  color: rgb(52, 233, 224);
  color: rgb(240, 214, 240);
  color: rgb(176, 240, 176);
}

/* * 
<div>
<h3>Hi, {{name}}</h3>
<p><span style="font-size: 14pt;">  We just did our happy dance cause you joined us!

  Thank you for choosing The MTP (monthly tenancy plan).

  Our goal to ensure your property listing experience is simple, affordable and comfortable, with faster fill up and zero debts.
  By joining our waitlist, you'll be the first to know when our product is available.
  Sit tight cause something "hooge" is coming.</span></p>
</div>
<div style="margin: 3rem; text-align: center;"><hr style="width: 550px; margin-top: 20px;" />
<div style="display: flex; align-items: center; justify-contents: center; text-align: center;">
<div style="margin: 2rem auto; display: flex; align-items: center; justify-contents: center; text-align: center;">
<div style="background-color: #34e9e0; height: 2rem; width: 2rem; border-radius: 50%;">&nbsp;</div>
<div style="background-color: #f0d6f0; height: 2rem; width: 2rem; border-radius: 50%; margin-left: 40px; margin-right: 40px;">&nbsp;</div>
<div style="background-color: #b0f0b0; height: 2rem; width: 2rem; border-radius: 50%;">&nbsp;</div>
</div>
</div>
<hr style="width: 450px;" /></div>
<p style="text-align: center; font-style: italic;"><span style="font-size: 14pt;">Copyright &copy; 2022 MTP, All rights reserved</span></p>
<p style="text-align: center;"><span style="font-size: 14pt;">Thank you for registering for your interest with MTP.</span></p>
<p style="text-align: center;"><span style="font-size: 14pt;">We are delighted to have you and will be in touch shortly with more updates.</span></p>
<h6 style="text-align: center; font-size: 1rem;"><span style="font-size: 14pt;">Our mailing address is:</span></h6>
<p style="text-align: center;"><span style="font-size: 14pt;">MTP</span></p>
<p style="text-align: center;"><span style="font-size: 14pt;">Lagos</span></p>
<p style="text-align: center;"><span style="font-size: 14pt;">Lagos Address</span></p>
<p style="text-align: center;"><span style="font-size: 14pt;">Nigeria</span></p> **/

// https://fireship.io/lessons/sendgrid-transactional-email-guide/
