.homepage__main__container {
  background: url("../assets/bg.png") no-repeat;
  background-size: cover;
  // background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  .homepage__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 3rem;
    height: 100vh;
    margin: 0 auto;
    width: 90%;

    .title__container {
      .heading {
        color: $secondary-color;
        font-weight: 600;
        font-size: 48px;
        line-height: 161.9%;
        text-transform: capitalize;

        .tenancy__heading {
          color: $primary-color;
        }
      }
    }

    .locations {
      ul {
        li {
          color: $secondary-color;
        }
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 30px;
      .text__content {
        margin: 0 auto;
        width: 60%;
        h4 {
          color: $secondary-color;
          text-align: center;
          font-size: 2rem;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;

        margin-top: 30px;

        .tenant__btn {
          background-color: $primary-color;
          color: $secondary-color;
          padding: 10px 50px;

          border-radius: 20px;
          font-size: 1.5rem;
        }

        .landlord__btn {
          background-color: $secondary-color;
          color: $primary-color;
          padding: 10px 50px;

          border-radius: 20px;
          font-size: 1.5rem;
        }
      }
    }
  }
}
